html,
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.shader-canvas {
  z-index: 0;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
  height: 100vh;
}
