@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-syne text-xs tracking-wide  lg:text-sm;
}

@font-face {
  src: url(/fonts/Syne-Bold.ttf);
  font-weight: 500;
  font-family: "syne";
}

@font-face {
  src: url(/fonts/SpaceMono-Rg.ttf);
  font-weight: 500;
  font-family: "mono";
}
